.headers {
    color: white;
    text-align: center;
    font-size: xx-large;
    text-shadow: 2px 2px black;
}
.container {
    text-align: center;
}
.timer {
    text-align: center;
    font-size: 30pt;
    color: black;
    text-shadow: none;
}
.startbutton {
    margin-left: auto;
    margin-right: auto;

}
.gameButtons {
    align-content: center;

}

.credits {
    position: bottom, left;
    position: sticky;
    margin-top: 8rem;
}

body {
margin: 100px;
background-color:#75BDBB;
}
.individbutton {
    /* padding: 5px 5px; */
    width: 115%;
    margin: 1rem;
}

